.main #atlas{
border: 10px solid #A9A9A9;
margin:20px;
}

#download{
color:white;
font-size:30px;
}

.main .inside{
padding:20px;
}

.main .inside .inside_main{
padding:20px;
}

.main .insidie_main .browser{
width:10px;
height:10px;
}
