body{
margin:0px;
}

@media all and (min-width:420px){

}

.main{
height:100%;
width:100%;
margin:0px;
}

.aw{
background:#0275D8;
margin:0px;
top:0px;
}

.aw p{
text-align:center;
color:#fff;
padding:10px 0;
font-size:20px;
}

.navi{
background:#FFF;
position:absolute;
width:100%;
height:25px;
}

.first, .second{
display:inline-block;
}

.second{
position:absolute;
top:15%;
left:80%;
}

.first{
position:absolute;
top:15%;
left:10%;
}

ul{
list-style-type:none;
}

li{
display:inline;
padding:7px;}

.body{
background:#660066;
padding:24px 0;
}

.logo{
text-align:center;
font-size:60px;
color:#fff;
border: 2px solid #fff;
border-radius:5px;
padding:2px;
margin:50px 550px;
}

.text{
margin:50px 200px;
color:#fff;
font-size:22px;
}

.download{
border:2px solid #fff;
padding:2px;
border-radius:5px;
text-align:center;
color:#fff;
margin-top:50px;
margin-left:550px;
margin-right:550px;
margin-bottom:10px;
}


.last>p:first-child{
font-size:25px;
text-align:center;
}

.current{
color:#B8B8B8;
text-align:center;
}

.last p:nth-child(2){
margin:0 300px;
}
