body{
margin:0px;
}

.main{
height:100%;
width:100%;
margin:0px;
}

.aw{
background:#660066;
height:10%;
margin:0px;
}

.aw p{
text-align:center;
color:#fff;
padding:10px 0;
font-size:20px;
}

.first, .complex{
	display:inline-block;
margin-left:20px;
}

.first{
float:left;
}
/*.complex{
margin-left:1000px;
}*/


.body{
background:#660066;
padding:24px 0;
}

.logo{
text-align:center;
font-size:60px;
color:#fff;
border:2px solid #fff;
border-radius:5px;
padding:2px;
margin:50px 550px;
}

.text{
margin:50px 200px;
color:#fff;
font-size:22px;
}

.download{
border:2px solid #fff;
padding:2px;
border-radius:5px;
text-align:center;
color:#fff;
margin:50px 550px 10px 550px;
}

.last>p:first-child{
font-size:25px;
text-align:center;
}

.current{
color:#B8B8B8;
text-align:center;
}

.last p:nth-child(2){
margin:0 300px;
}

