#open{
margin-bottom:0px;
border-bottom:dotted black;
}

body{
margin:70px 450px;
}


#grumpy{
font-family: 'Slabo 27px', serif;
font-size:50px;
color:rgba(0,0,0,0.65);
margin-top:30px;
}


.floating .line{
position:absolute;
background-color:black;
height:6%;
width:2px;
float:left;
/*display:inline-block; */
}


@font-face{
font-family:'Open Sans';
src: url('../fonts/OpenSans-Bold.ttf');
src: url('../fonts/OpenSans-Itlaic.ttf');
font-weight:normal;
font-style:normal;
}


.dream{
font-size:18px;
font-family:Open Sans, sans-serif;
padding-bottom:8px;
}

.floating #bedding{
font-size:14px;
padding-bottom:15px;
padding-left:16px;
/* display:inline-block; */
}
 
