#grumpy{
font-family: 'Slabo 27px', serif;
font-size:40px;
}
@font-face{
font-family:'Open Sans';
src: url('../fonts/OpenSans-Bold.ttf');
src: url('../fonts/OpenSans-Itlaic.ttf');
font-weight:normal;
font-style:normal;
}
.dream{
font-size:25px;
font-family:Open Sans, sans-serif;
}

.bedding{
font-size:20px;
}

